* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/img/bg.jpg);
    font-family: 'Press Start 2P', cursive;
}

#game {
    display: none;
}

#login {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.603);
    border: 5px;
    border-style: outset;
}

h2 {
    padding: 10px;
}

h3 {
    padding: 5px;
}

h4 {
    margin: 5px;
}

#title {
    text-align: center;
    text-shadow: 7px 4px 5px rgb(24 221 211 / 82%);
    text-decoration: underline;
}

#infoPJ {
    text-align: center;
    text-shadow: 7px 4px 5px rgb(24 221 211 / 82%);
    text-decoration: underline;
}

#aventura {
    display: flex;
    flex-direction: row;
    border: 5px;
    border-style: outset;
    align-items: center;
    justify-content: space-around;
    height: 340px;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

#consoleApp {
    background-color: rgba(255, 255, 255, 0.603);
    border: 5px;
    border-style: outset;
    align-items: center;
}

input {
    margin: 10px;
}

#vidaPJ, #vidaMob {
	position: relative;
	height: 30px;
	width: 250px;
	border: white 3px solid;
	border-radius: 3px;
	margin-right: 20px;
	display: inline-block;
}

#vidaPJBar, #vidaMobBar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: lightgreen;
}

#tienda {
    background-color: rgba(255, 255, 255, 0.603);
    border: 5px;
    border-style: outset; 
    display: none;
}

#containerShop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titleShop {
    text-align: center;
    text-shadow: 7px 4px 5px rgb(24 221 211 / 82%);
    text-decoration: underline;
    margin: 30px;
}
img {
    position: relative;
}

#classSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#warSel, #mageSel, #huntSel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgPJ, #imgMob {
    position: relative;
}

#potion, #spell, #melee, #arrow, #magiceff {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
